{% extends 'layout.html.twig' %}
{% from 'shared.html.twig' import render_news %}

{% block content %}

{{ render_news(news) }}

<div id="submitform">
    <form name="f">
        <input value="{{ news.id }}" type="hidden" id="news_id" name="news_id">

        <label for="title">title</label>
        <input type="text" size="80" id="title" name="title" value="{{ news.title }}"><br>

        <label for="url">url</label><br/>
        <input type="text" size="60" id="url" name="url" value="{{ news.url }}"><br>

        or if you don't have an url type some text<br>
        <label for="text">text</label>
        <textarea cols="60" id="text" name="text" rows="10">{{ text }}</textarea><br>

        <input type="checkbox" name="del" value="1">delete this news<br>

        <input value="Edit" type="button" name="edit_news">
    </form>
</div>

<div id="errormsg"></div>

<script>
    $(function() {
        $("input[name=edit_news]").click(submit);
    });
</script>

{% endblock %}
