<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>{{ title }} - Lamer News</title>
        <meta charset="utf8">
        <link type="text/css" href="/css/style.css" rel="stylesheet">
        <link href="/images/favicon.png" rel="shortcut icon">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="container">
            <header>
                <h1><a href="/">Lamer News</a></h1>
                <nav>
                    <a href="/">top</a>
                    <a href="/latest">latest</a>
                    <a href="/submit">submit</a>
                </nav>
                <rnav>
                    {% if app.user %}
                        <a href="/user/{{ app.user.username | url_encode }}">{{ app.user.username }} ({{ app.user.karma }})</a> |
                        <a href="/logout?apisecret={{ app.user.apisecret }}">logout</a>
                    {% else %}
                        <a href="/login">login / register</a>
                    {% endif %}
                </rnav>
            </header>

            <content>
            {% block content %}{% endblock %}
            </content>

            <footer>
                The code for Lamer News (in PHP) is <a href=".">here</a>.<br />
                You can find the code of the original Ruby implementation <a href="http://github.com/antirez/lamernews">here</a>.
            </footer>

            {% if app.user %}
            <script type="text/javascript">
                var apisecret = '{{ app.user.apisecret }}';
            </script>
            {% endif %}
        </div>
    </body>
</html>
