{% set replies = app.user and app.user.replies is defined ? app.user.replies : 0 %}
{% set site_name = app.lamest.getOption('site_name') %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf8">
        <title>{{ title }} - {{ site_name }}</title>
        <meta content="nofollow" name="robots">
        <link type="text/css" href="/css/style.css?v=8" rel="stylesheet">
        <link href="/images/favicon.png" rel="shortcut icon">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
        <script src="/js/app.js?v=8"></script>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    <a href="/">{{ site_name }}</a>
                    <small>{{ constant('Lamest\\EngineInterface::COMPATIBILITY') }}</small>
                </h1>
                <nav>
                    <a href="/">top</a>
                    <a href="/latest">latest</a>
                    <a href="/submit">submit</a>
                    {% if app.user %}
                        <a href="/replies" class="replies">replies{% if replies %} <sup>{{ replies }}</sup>{% endif %}</a>
                    {% endif %}
                </nav>
                <nav id="account">
                    {% if app.user %}
                        <a href="/user/{{ app.user.username | url_encode }}">{{ app.user.username }} ({{ app.user.karma }})</a> |
                        <a href="/logout?apisecret={{ app.user.apisecret }}">logout</a>
                    {% else %}
                        <a href="/login">login / register</a>
                    {% endif %}
                </rnav>
            </header>

            <div id="content">
            {% block content %}{% endblock %}
            </div>

            <footer>
                <a href="http://github.com/nrk/lamest">source code</a> | <a href="/rss">rss feed</a><br>
                Lamest v{{ constant('Lamest\\EngineInterface::VERSION') }} is based on <a href="http://github.com/antirez/lamernews">Lamer News</a> v{{ constant('Lamest\\EngineInterface::COMPATIBILITY') }}
            </footer>

            {% if app.user %}
            <script>var apisecret = '{{ app.user.apisecret }}';</script>
            {% endif %}

            {% if app.lamest.getOption('keyboard_navigation') %}
            <script>setKeyboardNavigation();</script>
            {% endif %}
        </div>
    </body>
</html>
