{% extends 'layout.html.twig' %}

{% block content %}

<news id="{{ news.id }}">
    <uparrow class="{{ news.voted == 'up' ? 'voted' : (news.voted == 'down' ? 'disabled' : '') }}">&#9650;</uparrow>

    {% if news | news_domain %}
        <h2><a href="{{ news.url }}">{{ news.title }}</a></h2>
        <address>at {{ news | news_domain }}</address>
    {% else %}
        <h2><a href="/news/{{ news.id }}">{{ news.title }}</a></h2>
    {% endif %}

    {% if app.user and app.user.id == news.user_id and news.ctime > (now() - app.db.getOption('news_edit_time')) %}
        <a href="/editnews/{{ news.id }}">[edit]</a>
    {% endif %}

    <downarrow class="{{ news.voted == 'down' ? 'voted' : (news.voted == 'up' ? 'disabled' : '') }}">&#9660;</downarrow>

    <p>
        {{ news.up }} up and {{ news.down }} down,
        posted by <username><a href="/user/{{ news.username }}">{{ news.username }}</a></username>
        {{ news.ctime | time_elapsed}}
        <a href="/news/{{ news.id }}">{{ news.comments }} comments</a>
    </p>
</news>

{% if not news | news_domain %}
    <topcomment>
        <comment style="margin-left:0px" id="{{ news.id }}-">
            <avatar><img src="http://gravatar.com/avatar/{{ user.email | md5 }}?s=48&d=mm"></avatar>
            <info>
                <username><a href="/user/{{ news.username }}">{{ news.username }}</a></username>
                {{ news.ctime | time_elapsed }}.
            </info>
            <pre>{{ news | news_text }}</pre>
        </comment>
    </topcomment>
{% endif %}

{% if app.user %}
    <form name="f">
        <input value="{{ news.id }}" type="hidden" name="news_id">
        <input value="-1" type="hidden" name="comment_id">
        <input value="-1" type="hidden" name="parent_id">
        <textarea cols="60" name="comment" rows="10"></textarea><br>
        <input value="Send comment" type="button" name="post_comment">
    </form>

    <div id="errormsg"></div>
{% endif %}

{% if comments %}
    {{ _self.render_comments(news, comments, -1, 0) }}
{% endif %}

<script type="text/javascript">
    $(document).ready(function() {
        $("input[name=post_comment]").click(post_comment);
    });
</script>

{% endblock %}


{% macro render_comments(news, tree, parent_id, level) %}
    {% for comment in tree[parent_id] %}
        {% set css_indentation = level * app.db.getOption('comment_reply_shift') %}
        {% set parents = tree[comment.id] is defined ? tree[comment.id] : [] %}
        {% set user = comment.user %}

        {% if comment.del is not defined or comment.del == false or parents %}
            <comment style="margin-left:{{ css_indentation }}px" id="{{ news.id }}-{{ comment.id }}">
                <avatar><img src="http://gravatar.com/avatar/{{ user.email | md5 }}?s=48&d=mm"></avatar>
                <info>
                    <username><a href="/user/{{ user.username }}">{{ user.username }}</a></username>
                    {{ comment.ctime | time_elapsed }}.
                    {% if app.user and comment.topcomment is not defined %}
                        <a href="/reply/{{ news.id }}/{{ comment.id }}" class="reply">reply</a>
                        {% if app.user.id == comment.user_id and comment.ctime %}
                            <a href="/editcomment/4/1" class="reply">edit</a>
                            {{ (app.db.getOption('comment_edit_time') - (now() - comment.ctime)) / 60 }} minutes left
                        {% endif %}
                    {% endif %}
                </info>
                <pre>{{ comment.body }}</pre>
            </comment>
        {% else %}
            <comment style="margin-left:{{ css_indentation }}px" class="deleted">
                [comment deleted]
            </comment>
        {% endif %}

        {% if parents %}
            {{ _self.render_comments(news, tree, comment.id, level + 1) }}
        {% endif %}
    {% endfor %}
{% endmacro %}
