{% extends 'layout.html.twig' %}
{% from 'shared.html.twig' import render_news, render_comments %}

{% block content %}

{{ render_news(news) }}

{% if not news_domain(news) %}
    <topcomment>
        <comment style="margin-left:0px" id="{{ news.id }}-">
            <avatar><img src="{{ gravatar(user.email) }}"></avatar>
            <info>
                <username><a href="/user/{{ news.username }}">{{ news.username }}</a></username>
                {{ time_elapsed(news.ctime) }}.
            </info>
            <pre>{{ news_text(news) }}</pre>
        </comment>
    </topcomment>
{% endif %}

{% if app.user %}
    <form name="f">
        <input value="{{ news.id }}" type="hidden" name="news_id">
        <input value="-1" type="hidden" name="comment_id">
        <input value="-1" type="hidden" name="parent_id">
        <textarea cols="60" name="comment" rows="10"></textarea><br>
        <input value="Send comment" type="button" name="post_comment">
    </form>

    <div id="errormsg"></div>
{% endif %}

{% if comments %}
    {{ render_comments(news, comments, -1, 0) }}
{% endif %}

<script>
    $(function() {
        $("input[name=post_comment]").click(post_comment);
    });
</script>

{% endblock %}
