{% extends 'layout.html.twig' %}
{% from 'shared.html.twig' import render_news, render_comments %}

{% block content %}

<section id="newslist">
    {{ render_news(news) }}
</section>

{% if not news_domain(news) %}
    <topcomment>
        <article class="comment" style="margin-left:0px" id="{{ news.id }}-">
            <span class="avatar"><img src="{{ gravatar(user.email) }}"></span>
            <span class="info">
                <span class="username"><a href="/user/{{ news.username }}">{{ news.username }}</a></span>
                {{ time_elapsed(news.ctime) }}.
            </span>
            <pre>{{ news_text(news) }}</pre>
        </article>
    </topcomment>
{% endif %}

{% if app.user %}
    <form name="f">
        <input value="{{ news.id }}" type="hidden" id="news_id" name="news_id">
        <input value="-1" type="hidden" id="comment_id" name="comment_id">
        <input value="-1" type="hidden" id="parent_id" name="parent_id">
        <textarea cols="60" id="comment" name="comment" rows="10"></textarea><br>
        <input value="Send comment" type="button" name="post_comment">
    </form>

    <div id="errormsg"></div>
{% endif %}

{% if comments %}
    {{ render_comments(news, comments, -1, 0) }}
{% endif %}

<script>
    $(function() {
        $("input[name=post_comment]").click(post_comment);
    });
</script>

{% endblock %}
