{% macro render_news(news) %}
    <article data-news-id="{{ news.id }}">
        <a href="#up" {{ _self.vote_class(news, 'up') }}>&#9650;</a>

        {% set is_editable = news_editable(app.user, news, app.db.getOption('news_edit_time')) %}

        {% if news_domain(news) %}
            <h2><a href="{{ news.url }}">{{ news.title }}</a></h2>
            <address>
                at {{ news_domain(news) }}
                {% if is_editable %}<a href="/editnews/{{ news.id }}">[edit]</a>{% endif %}
            </address>
        {% else %}
            <h2><a href="/news/{{ news.id }}">{{ news.title }}</a></h2>
            <address>{% if is_editable %}<a href="/editnews/{{ news.id }}">[edit]</a>{% endif %}</address>
        {% endif %}

        <a href="#down" {{ _self.vote_class(news, 'down') }}>&#9660;</a>

        <p>
            {{ news.up }} up and {{ news.down }} down,
            posted by <span class="username"><a href="/user/{{ news.username }}">{{ news.username }}</a></span>
            {{ time_elapsed(news.ctime) }}
            <a href="/news/{{ news.id }}">{{ news.comments }} comments</a>
        </p>
    </article>
{% endmacro %}

{% macro vote_class(news, type) %}
{% spaceless %}
    {% if news.voted %}
        {% set typearrow = type ~ 'arrow ' %}
        class="{{ typearrow ~ (news.voted == type ? 'voted' : 'disabled') }}"
    {% endif %}
{% endspaceless %}
{% endmacro %}

{% macro render_comments(news, tree, parent_id, level) %}
    {% for comment in tree[parent_id] %}
        {% set parents = tree[comment.id] is defined ? tree[comment.id] : null %}

        {{ _self.render_comment(news, comment, level, parents) }}

        {% if parents %}
            {{ _self.render_comments(news, tree, comment.id, level + 1) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro render_comment(news, comment, level, parents) %}
    {% set css_indentation = level * app.db.getOption('comment_reply_shift') %}
    {% set user = comment.user %}

    {% if comment.del is not defined or comment.del == false and parents %}
        <article class="comment" style="margin-left:{{ css_indentation }}px" data-comment-id="{{ news.id }}-{{ comment.id }}">
            <span class="avatar"><img src="{{ gravatar(user.email) }}"></span>
            <span class="info">
                <span class="username"><a href="/user/{{ user.username }}">{{ user.username }}</a></span>
                {{ time_elapsed(comment.ctime) }}.
                {% if app.user and comment.topcomment is not defined %}
                    <a href="/reply/{{ news.id }}/{{ comment.id }}" class="reply">reply</a>
                    {% if app.user.id == comment.user_id and comment.ctime %}
                        <a href="/editcomment/{{ news.id }}/{{ comment.id }}" class="reply">edit</a>
                        {{ ((app.db.getOption('comment_edit_time') - (now() - comment.ctime)) / 60) | to_int }} minutes left
                    {% endif %}
                {% endif %}
            </span>
            <pre>{{ comment.body }}</pre>
        </article>
    {% else %}
        <article class="comment deleted" style="margin-left:{{ css_indentation }}px">
            [comment deleted]
        </article>
    {% endif %}
{% endmacro %}
