{% extends 'layout.html.twig' %}

{% block content %}

<div class="userinfo">
    <span class="avatar"><img src="{{ gravatar(user.email) }}"></span>
    <h2>{{ user.username }}</h2>
    <pre>{{ user.about }}</pre>
    <ul>
        <li><b>created </b> {{ time_elapsed(user.ctime) }}</li>
        <li><b>karma </b>{{ user.karma }} points</li>
        <li><b>posted news </b>{{ user_counters.posted_news }}</li>
        <li><b>posted comments </b>{{ user_counters.posted_comments }}</li>
    </ul>
</div>

{% if app.user and app.user.id == user.id %}

<br>

<form name="f">
    <label for="email">email (not visible, used for gravatar)</label><br>
    <input value="{{ user.email }}" type="text" size="40" id="email" name="email"><br>

    <label for="about">about</label><br>
    <textarea cols="60" id="about" name="about" rows="10">{{ user.about }}</textarea><br>

    <input value="Update profile" type="button" name="update_profile">
</form>

<div id="errormsg"></div>

<script>
    $(function() {
        $("input[name=update_profile]").click(update_profile);
    });
</script>

{% endif %}

{% endblock %}
